# Git files
.git
.gitignore

# Local config files
.editorconfig

#build files
build.sh
buildCache.sh

# Information files
LICENSE
README.md

deploy.sh
log.sh
docker-compose.yml
docker-compose.template.yml
